In [1]:
import pyhattrick.pyhattrick.pyhattrick as pht 
import pandas as pd

ImportError: No module named pyhattrick.pyhattrick.pyhattrick

In [12]:
 team_data = []
series    = []
teams     = []


seriesid = pht.get_series_id_from_name("Serie A")
teams.append((pht.get_teams_from_series_id(seriesid),"Serie A"))

for i in range(4):
    seriesid = pht.get_series_id_from_name("II."+str(i+1))
    teams.append((pht.get_teams_from_series_id(seriesid),"II."+str(i+1)))
    
for i in range(16):
    seriesid = pht.get_series_id_from_name("III."+str(i+1))
    teams.append((pht.get_teams_from_series_id(seriesid),"III."+str(i+1)))

for i in range(64):
    seriesid = pht.get_series_id_from_name("IV."+str(i+1))
    teams.append((pht.get_teams_from_series_id(seriesid),"IV."+str(i+1)))


for team in teams:
    league  = team[1]
    for t in team[0]:
        name    = t['team_name']
        id      = t['team_id']  
        gF      = t['team_gFor']
        gA      = t['team_gAga']
        points  = t['team_points']
        details = pht.get_team_details_from_team_id(id)
        region  = details['team_region']
        team_data.append((name, gF, gA, points, region,league))

df = pd.DataFrame(columns=('name','gF','gA','points','region','league'),data=team_data)

In [13]:
df.tail(10)
df.to_csv("teamdata.csv", encoding='utf-8')

In [14]:
df.tail(10)

                    name  gF  gA  points          region league
670          Ciuc United   9  16       4        Piemonte  IV.63
671              Realcoi   5  12       3       Lombardia  IV.63
672       S.S.C.Polletti  20   7      12        Campania  IV.64
673  Francavilla Fontana  20   7      11          Puglia  IV.64
674             Brig@nti  20   7      10            Roma  IV.64
675     A.C. Rimini 2011  16  12       9  Emilia Romagna  IV.64
676      Mich's brothers  14  10       7          Veneto  IV.64
677        Real San Foca  13  14       5          Puglia  IV.64
678      Delije Red Star   6  18       2  Emilia Romagna  IV.64
679    Atletico Bruneiro   2  36       0          Veneto  IV.64